body{
    background-image: url(kuwait3.jpeg);
    background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   



}
.popup{
    width: 400px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
text-align: center;
padding: 0 30px 30px;
color:#333,

}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.submition{
    padding: 0;
    margin: 0;
    width: 100px;
    height: 30px;
    text-align: center;
    top: 0;
    left:0;
    position: relative;
    border: 3px solid #bcb8b1;
    border-radius: 5px;
    }
    .contact{
        margin-bottom: 150px;
        text-align: center;
        margin-top: 40px;
        color: #8a817c;
    }

    .return{
        padding: 0;
    margin: 0;
    width: 100px;
    height: 30px;
    text-align: center;
    top: 0;
    left:0;
    position: relative;
    border: 3px solid #bcb8b1;
    border-radius: 5px; 
    }